h1 {
  color: white;
  margin-top: 100px;
}

.component {
  /*background-color: transparent;*/
}

.panel {
  height: 500px;
  background-color: white;
}

.panel-insurance {
  height: 600px;
  background-color: white;
}

.text-align-center {
  text-align: center;
}

/* HEADER LAYOUT____________________________________________________________________________________________________________________________________________ */
#azimut-logo {
  height: 100px;
}

#nav-header-layout {
  height: 130px;
  background-color: rgba(66, 85, 137, 0.6);
}

.nav-link {
  color: white;
}

#nav-header-links a:hover {
  color: red;
}

.dropdown-menu {
  margin-top: 10px;
}

.dropdown-item {
  color: white;
}

#ddlButton:focus, .btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* HOME PAGE__________+++___________________________________________________________________________________________________________________________________ */
/*.repeating-linear {*/
/*  color: pink;*/
/*  border: 10px solid pink;*/
/*  border-image: repeating-linear-gradient(45deg, red, white, red);*/
/*}*/

#h-panel-1, #h-panel-2 {
  border-top: 5px solid red;
}

#h-panel-1-img {
  height: 100%;
  background-image: url("https://static.pexels.com/photos/398532/pexels-photo-398532.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#h-panel-2 img {
  height: 60px;
  float: none;
  margin: 0 auto;
}

.carousel-control-prev-icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

/* ABOUT PAGE_______________________________________________________________________________________________________________________________________________ */
#a-panel-1, #a-panel-3{
  border-top: 5px solid red;
}

#a-panel-1-img {
  height: 100%;
  background-image: url("https://static.pexels.com/photos/159864/waterfowl-mallard-young-young-duck-159864.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#a-panel-2 {
  color: white;
  background-color: rgba(66, 85, 137, 0.6);
}

#a-panel-2-img {
  height: 100%;
  background-image: url("https://static.pexels.com/photos/164592/pexels-photo-164592.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#a-panel-3-img {
  height: 100%;
  background-image: url("https://static.pexels.com/photos/401682/pexels-photo-401682.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* CONTACT PAGE_____________________________________________________________________________________________________________________________________________ */
#c-panel-1 {
  border-top: 5px solid red;
}

#contact-form {
  margin: 0 -20px;
  padding: 40px;
  /*width: 400px;*/
  /*background-color: grey;*/
  /*background-color: rgba(185, 185, 185, 0.7);*/
}

#message-input {
  height: 150px;
}

.form-control {
  color: rgb(179, 181, 183);
}

/* LOCATION PAGE____________________________________________________________________________________________________________________________________________ */
#l-panel-1 {
  /*border-top: 5px solid red;*/
  background-color: transparent;
}

/* FOOTER LAYOUT____________________________________________________________________________________________________________________________________________ */
#footer-layout {
  height: 100px;
  background-color: lightgrey;
  border-top: solid 1px grey;
}


/* CAR INSURANCE PAGE_______________________________________________________________________________________________________________________________________ */
#car-panel-1 {
  border-top: 5px solid red;
}

#car-panel-1-img {
  height: 100%;
  background-image: url("https://static.pexels.com/photos/164634/pexels-photo-164634.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* BOAT INSURANCE PAGE______________________________________________________________________________________________________________________________________ */
#boat-panel-1 {
  border-top: 5px solid red;
}

#boat-panel-1-img {
  height: 100%;
  background-image: url("https://static.pexels.com/photos/625418/pexels-photo-625418.jpeg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}